.overlay-fixed {
  .overlay-card {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      align-items: center;

      p {
        margin: 0px;
        margin-right: 60px;
        font-size: 16px;
        font-weight: 700;
      }
      i {
        cursor: pointer;
      }
    }

    .title {
      padding: 0px 50px;
      font-size: 16px;
      font-weight: 700;
      margin: 0px;
    }
    .slider-container {
      padding: 0px 30px;
      margin-top: -15px;

      .slide {
        text-align: center;
      }
      .day-string {
        opacity: 0.8;
        margin-bottom: 7px;
        color: rgba(0, 0, 0, 0.38);
      }

      .day-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        color: #8ca0b3;
        font-size: 14px;
        margin: auto;
        cursor: pointer;

        &:hover, &.active {
          background-color: var(--main-color);
          border: 1px solid var(--main-color);

          color: #fff;
        }
      }
      .time-container {
        padding: 0px 20px;
        .time {
          color: rgba(0, 0, 0, 0.38);
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 15px;
          font-size: 13px;
          font-weight: 700;
          padding: 10px;
          cursor: pointer;
          margin: 0px;

          &:hover, &.active{
            background-color: var(--main-color);
            color: #fff;
            border: 1px solid var(--main-color);
          }
        }
      }
    }
    .hr {
      margin: 5px 0px 0px;
    }

    .btn {
      background-color: #ffc853;
      color: #fff;
      border-radius: 20px;
      width: 95%;
      display: block;
      padding: 10px;
      margin: 0px auto 10px;
    }
  }
}
