<nav>
  <div class="wrapper">
    <i class="fas fa-angle-left mob-arrow"></i>

    <img src="assets\img\logov2.png" alt="" id="logo" />

    <div class="empty"></div>
    <div class="menu-section">

      <div class="login" (click)="onLogin()">
        <span>Login</span>
        <i class="fas fa-user"></i>
      </div>

      <div class="country">
        <i class="fas fa-globe-europe"></i>
      </div>

      <div class="language">
        <span>العربية</span>
      </div>

    </div>
  </div>
</nav>
