<aside id="details">
  <div class="details-container head">
    <p class="summary">Booking Summary</p>
    <i class="fas fa-times" (click)="onClose()"></i>
  </div>
  <div class="hr"></div>

  <div class="details-container">
    <p class="text-header">Date & Time</p>
    <div class="date-details">
      <span class="details-text-muted">Pick-up</span>
      <span>Tue, Aug 15, 4 PM - 5 PM</span>
    </div>
    <div class="date-details">
      <span class="details-text-muted">Drop-off</span>
      <span>Thu, Aug 20, 4 PM - 5 PM</span>
    </div>
  </div>
  <div class="hr"></div>

  <div class="details-container">
    <p class="text-header">Address</p>
    <p class="address">Dubai Marina, Dubai</p>
  </div>
  <div class="hr"></div>

  <div class="details-container last">
    <p class="text-header">Price Details</p>
    <div class="d-flex justify-content-between">
      <p class="details-text-muted">Total</p>
      <p class="calculating">To be calculated</p>
    </div>

    <p class="price-notice">
      Total price will be calculated and charged after the appointment is
      completed. Discounts and voucher codes will be applied to final price.
    </p>
  </div>
</aside>
